<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaurav.gitfetchapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PreLoginDeciderActivity"
            android:label="@string/title_activity_pre_login"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostLoginActivity"
            android:label="@string/title_activity_post_login"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Repositories.RepositoryDetailActivity"
            android:label="@string/title_activity_repository_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Repositories.FileViewActivity"
            android:label="@string/title_activity_file_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gists.GistsFileSourceActivity"
            android:label="@string/title_activity_gists_file_source"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Repositories.BranchDialogActivity"
            android:label="@string/title_activity_branch_dialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchGitActivity"
            android:label="@string/title_activity_search_git"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInfo.PublicUserRepoActivity"
            android:label="@string/respositories"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <provider
            android:authorities="com.example.gaurav.gitfetchapp"
            android:name=".RepositoryDataBase.RepositoryProvider"
            android:exported="true"
            android:enabled="true"/>

        <receiver
            android:name=".Widgets.RepositoriesListWidgetProvider"
            android:label="@string/title_widget_repo" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/repo_widget_info" />
        </receiver>

        <service android:name=".Widgets.RepositoryWidgetRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>